.clickbox {
    width: 80vw;
    height: 10vw;
    background-color: lightsteelblue;
    color: rgb(232, 65, 168);
    font-size: 50pt;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    transition: background-color 0.4s ease, margin 0.4s ease;
    margin: 1vw;
}